:root{
    --main: #1ABC9C;
    --secondary: #2C3E50;
    --text: #000000 ;
    --accent: #aa9f00 ;
    --background: #ECF0F1;
}

* {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: #ffffff;
}


#section-one {
    background-color: rgb(110, 84, 84);
    flex-direction: column;
    padding-bottom: 300px;
    
}

.Navbar ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
    background-color: #8a8a8a;
    background-size: 13%;
    padding: 0px;
    margin: 0px;
    height: 100px;
}


.Navbar a {

    padding: 20px;
    color: #000000;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 5.0em;
}


.Navbar a:hover {
    transform: translateY(20px);
    color: #2C3E50;
}


.image-con {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 250px;

}

.img1 {
    
    border-radius: 50%;
    max-width: 20%;

}

.about {
    
    padding-left: 100px;
    font-size: 20px;
}

#aboutme {
    padding-bottom: 20px;
}

#x {
    position: relative;
    left: 175px;
    bottom: 5px;
    padding-bottom: 50px;
}



#projects {
    background-color:#8a8a8a ;
    color: var(--nuatral);
    font-size: 40px;
    padding-bottom:  100px;
    padding-top: 100px;
}

#projects h1{
    border-bottom:  5px solid black;
    width: fit-content;
    margin: auto;
   

}

#projects .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    gap: 150px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    
}

#projects .project-tile {
    height: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a8a8a;
    text-decoration: none;
    color: black;
    border-radius:  5px;
    box-shadow: 8px 8px 10px 5px rgb(0, 0, 0);
}


#projects .project-tile img {
    height:  100%;
    width:  100%;
    object-fit: cover;
}


#projects .project-tile p {
    font-size: 25px;
    padding: 10px;

}

#projects .project-tile span {
    opacity: 0%;
    padding: 0 5px;
}

#projects .project-tile:hover p {
    opacity: 100%;
    color: #2C3E50 ;
    transition: opacity 0.25s ease-in;
    
}

#projects .project-tile:hover  {
    transform: translateY(50px);
    transition: transform 0.1s ease-in;
}

#contacts {
    background-color: rgb(110, 84, 84);
    color: var(--accent);
    padding-bottom: 100px;
  
}

#contacts h1 {
    margin: 0px ;
}

#contacts .coffee-question {
    color:black;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 850px;
    padding-top: 10px;

}

#contacts .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}


#contacts .social-media {
    text-decoration: none;
    color: #2C3E50;
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 22px;
}
#contacts .social-media:hover {
    transform: translateY(20px);
}