:root{
    --main: #1ABC9C;
    --secondary: #2C3E50;
    --text: #000000 ;
    --accent: #aa9f00 ;
    --background: #ECF0F1;
}

* {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: #ffffff;
}


#section-one {
    background-color: #ffffff;
    flex-direction: column;
    padding-bottom: 300px;
    
}

.Navbar {
    position: fixed;
    width: 100%;
    
}

.Navbar ul {
        
    display: flex;
    justify-content:center;
    list-style-type: none;
    background-color: #2C3E50;
    background-size: 13%;
    padding: 0px;
    height: 100px;
}


.Navbar a {

    padding: 20px;
    color: #000000;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 5.0em;
}


.Navbar a:hover {
    transform: translateY(20px);
    color: #ffffff;
}


.image-con {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 250px;

}

.img1 {
    
    border-radius: 50%;
    max-width: 20%;

}

.about {
    
    padding-left: 100px;
    font-size: 20px;
}

#aboutme {
    padding-bottom: 20px;
}

#x {
    bottom: 5px;
    padding-bottom: 50px;
}

.other {
    padding-top: 20px;
}




#project {
    background-color:#ffffff ;
    color: var(--nuatral);
    font-size: 40px;
    padding-bottom:  300px;
    padding-top: 100px;
}

#project h1{
    border-bottom:  5px solid black;
    width: fit-content;
    margin: auto;
    font-size: 50px;

}

#project .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    gap: 150px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
   
    
}

#project .project-tile {
    height: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a8a8a;
    text-decoration: none;
    color: black;
    border-radius:  5px;
    box-shadow: 8px 8px 10px 5px rgb(0, 0, 0);
}


#project .project-tile img {
    height:  100%;
    width:  100%;
    object-fit: cover;
}


#project .project-tile p {
    font-size: 25px;
    padding: 10px;

}

#project .project-tile span {
    opacity: 0%;
    padding: 0 5px;
}

#project .project-tile:hover p {
    opacity: 100%;
    color: #ffffff ;
    transition: opacity 0.25s ease-in;
    
}




.project-tile {
    display: inline-block;

}




.cv2  {
    display: flex;
    gap: 10px;
    background-color: #8a8a8a; 
    padding: 20px;
    padding-left: 300px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0px;
    
    
}


#cv img {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 8px 8px 10px 5px rgb(0, 0, 0);
}

.contact {
    display: flex;
    position: relative;
    text-align: center;
    top: 200px;
    right: 100px;
}

#contacts {
    background-color: #8a8a8a;
    color: var(--accent);
    padding-bottom: 200px;
    padding-left: 100px;
    
  
}

#contacts h1 {
    margin: 0px ;
}

#contacts .contact {
    color:black;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 850px;
    padding-top: 10px;

}

#contacts .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    position: relative;
    top: 200px;
    
    
}


#contacts .social-media {
    text-decoration: none;
    color: #2C3E50;
    transition: transform 0.2s ease-in;
    margin: 10px;
    font-size: 22px;
    padding-left: 100px;
    padding-bottom: 10px;
    
}
#contacts .social-media:hover {
    transform: translateY(20px);
}


#up {
    position: relative;
    right: 1300px;
    top: 160px;
    padding: 10px;
    background-color: #2C3E50;
    border-color: #000000;
    color: #8a8a8a;
    text-decoration: none;
    border: none;
    border-radius: 50%;

 
}

#up a{
    color: #000000;
    text-decoration: none;
   
}
.foot {
    border-top: 3px solid black;
    background-color: #2C3E50;
    font-size: 25px;
    padding-left: 800px;
    padding-bottom: 50px;
    padding-top: 100px;
}